@import url("https://fonts.googleapis.com/css2?family=Open+Sans");


/*--------------------------------------------Navigation */

header {
    margin: 0;
    background-color: rgb(9, 21, 55);
    height: 10vh;
}

.nav-item {
    padding-top: 5%;
}


.active-tab {
    font-style: oblique;
    color: teal;
}

.nav-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: lightyellow; 
}


.nav a:hover {
    color: teal;
}

/*--------------------------------------------Heading*/


.hero-image {
    background: url("../images/pexels-valeria-boltneva-1639561.jpg");
    background-color: teal;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.welcome {
    padding-top: 78vh;
}


.welsh-welcome {
    color: white;
    font-weight: 300;
    font-size: 4em;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding: 3%;
    
}

.english-welcome {
    color: whitesmoke;
    font-weight: 200;
    font-size: 1.5em;
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 1%;
}

.booking {
    background-color: white;
    padding: 1% 5%;
    margin: 10% 15%;
    opacity: 0.8;
}


.quotes {
    background-color: white;
    padding: 15%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 20vh;
    margin-top: 20%;
    height: 50%;
    width: 80%;
}

footer {
    position: static;
    min-height: 200px;
    background-color: rgb(9, 21, 55);
    color: bisque;
    margin: 0;
    padding: 5%;
}

.opening {
    text-align: left;
    padding-top: 5%;
}

#footer-info {
    text-align:right;
    font-size:small;
    margin: 0, 15%;
    
}

.socials {
    margin: 2vw;
    padding: 2%;
}
